//META {"name": "ClearVision_Ruby", "description": "A raging, red theme with customizable colors & background! Based on Discord Reborn by @Omniscient & DarkMatter by @Hammock.", "author": "cruxie","version":"AutoUpdate","website": "https://github.com/xcruxiex/BBDThemes", "source":"https://xcruxiex.github.io/BBDThemes/Themes/ClearVisionV5/css/ClearVision_v5.css"}*//{}
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */

/* IMPORT CSS FROM GITHUB */
@import url(https://xcruxiex.github.io/BBDThemes/Themes/ClearVisionV5/css/ClearVision_v5.css);
@import url('https://xcruxiex.github.io/BBDThemes/Aesthetics/UserBackgrounds/Main.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* CUSTOMIZABLE COLORS */

:root {
    --main-color: #e62727;
    --hover-color: #b31e1e;
    --background-blur: 0px;
    --background-brightness: 100%;
}

/* CUSTOMIZABLE BACKGROUND IMAGE */

body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url('https://xcruxiex.github.io/BBDThemes/Themes/ClearVisionV5/images/ruby.jpg') !important; /* IMPORTANT: Link must be HTTPS! */
}
