//META {"name": "ClearVision_V5", "description": "A raging, red theme with customizable colors & background!", "author": "cruxie","version":"AutoUpdate","website": "https://github.com/xcruxiex/BBDThemes", "source":"https://xcruxiex.github.io/BBDThemes/Themes/ClearVisionV5/css/ClearVision_v5.css"}*//{}
/*
 ██████╗██╗     ███████╗ █████╗ ██████╗ ██╗   ██╗██╗███████╗██╗ ██████╗ ███╗   ██╗       ██╗   ██╗███████╗
██╔════╝██║     ██╔════╝██╔══██╗██╔══██╗██║   ██║██║██╔════╝██║██╔═══██╗████╗  ██║       ██║   ██║██╔════╝
██║     ██║     █████╗  ███████║██████╔╝██║   ██║██║███████╗██║██║   ██║██╔██╗ ██║       ██║   ██║███████╗
██║     ██║     ██╔══╝  ██╔══██║██╔══██╗╚██╗ ██╔╝██║╚════██║██║██║   ██║██║╚██╗██║       ╚██╗ ██╔╝╚════██║
╚██████╗███████╗███████╗██║  ██║██║  ██║ ╚████╔╝ ██║███████║██║╚██████╔╝██║ ╚████║███████╗╚████╔╝ ███████║
 ╚═════╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝  ╚═══╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝ ╚═══╝  ╚══════╝
+ ========================= +
+ ClearVision_V5 Theme for BandagedBetterDicord 
+ Made Orignally By Zerthox, Now Maintained By cruxie
+ ========================= +
The author cruxie retains full rights of this code (Other rights are detailed in the base link).
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
You are only allowed to edit the theme for personal use only.
If you enjoy using the theme, help spread the word!
*/

/*###################################################################################################*/
/* Main Import */
@import url('https://xcruxiex.github.io/BBDThemes/Themes/ClearVisionV5/css/ClearVision_v5.css');
/* Addons */
@import url('https://xcruxiex.github.io/BBDThemes/Aesthetics/UserBackgrounds/Main.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* CUSTOMIZABLE COLORS */

:root {
    --main-color: #e62727;
    --hover-color: #b31e1e;
    --background-blur: 0px;
    --background-brightness: 100%;
	--background-image: url('https://xcruxiex.github.io/BBDThemes/Themes/ClearVisionV5/images/ruby.jpg'); /* IMPORTANT: Link must be HTTPS! AND must end in one of: .png .jpg .gif */
}
