//META{"name":"CompactMemberList","description":"Compact Member List!! (duh..)","author":"cruxie","version": "1.0 AutoUpdate","website": "https://github.com/xcruxiex/BDDThemes", "source":"https://xcruxiex.github.io/BDDThemes/MiniThemes/CompactMemberList.css"}*//{}
/*

/* Compact member list */
.membersWrap-2h-GB4, .members-1998pB {
  width: 60px;
  position: relative;
  min-width:unset;
  transition: all .25s ease;
}
.membersWrap-2h-GB4 .scrollerWrap-2lJEkd {width: 60px;}
.membersWrap-2h-GB4:hover, .members-1998pB:hover {
  width: 240px;
}
.membersGroup-v9BXpm {
  transition: all .25s ease;
  transform: translateX(100%);
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: translateX(0);
}

