/* Custom Neutron Aesthectics - By Cruxie */

/*DARK MODE Colored wumpus images */
/* All-Online*/
.image-1GzsFd[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/All-Friends.svg') !important;
  background-size: cover;}
/* Pending */
.image-1GzsFd[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/pending.svg') !important;
  background-size: cover;}
/* Blocked */
.image-1GzsFd[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/Blocked.svg') !important;
  background-size: cover;}
/* LIBRARY TAB */
.theme-dark .emptyWumpus-12J3jI{
 background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
 background-size: cover;}
.theme-dark .emptyStateImage-2eMp68{
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
 background-size: cover;
}

/* Email Blur */
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg:hover {
  filter: blur(0); }
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
  filter: blur(5px);
  transition: 250ms filter ease-in-out;
}

/* Upload A File */
.attachPopoutRow-3iqqu1:hover{
  background-color: var(--themeColor2) !important;
  box-shadow:none;}
/* Listen Along with SpotifyIn Chat */
.attachPopoutRow-3iqqu1:hover:nth-child(2) {
  background-color: #249b4f !important;
}

/* Embed Border Colour */
.embedFull-2tM8-- {
  border-left: 4px solid var(--themeColor2);
}

/* Format Options */
.toolbar-2bjZV7 {background-color: var(--backgroundColor);}
.button-qqmJ7w:hover {background-color: var(--themeColor2);}
.divider-24xeUg {display: none;}
.toolbar-2bjZV7:before{
  border-top: 8px solid var(--backgroundColor);
}

/* Profile Backdrop */
.backdrop-1wrmKB {opacity: 0.50 !important;
}

/* Auto Complete Area */
.autocomplete-1vrmpx, .selectorSelected-1_M1WV, .selectorSelected-1_M1WV:hover {backdrop-filter: blur(2px); background-color: rgba(0,0,0,.25) !important;
}

/* Message box */ 
.scrollableContainer-2NUZem {
  backdrop-filter: blur(2px); 
  background-color: rgba(0,0,0,.25);
  left: -5px;}
.channelTextArea-rNsIhG {
  background-color:transparent;
  left: -5px;
  width: 100.8%;
}

/* Title Bar */
.typeWindows-1za-n7 {background-color: rgba(0,0,0,.25);
}

/* Unread Channels */
.modeUnread-1zpFdA:hover .name-3_Dsmg:hover, .modeUnread-1zpFdA .name-3_Dsmg, .modeUnread-1zpFdA:hover .icon-1_QxNX, .modeUnread-1zpFdA .icon-1_QxNX {color: var(--themeColor1) !important;}
.unread-3zKkbm{background-color: var(--themeColor1);
}

/* Selected Channel */
.modeSelected-1zApJ_ .icon-1_QxNX, .modeSelected-1zApJ_ .name-3_Dsmg, .modeSelected-1zApJ_:hover .icon-1_QxNX:hover, .modeSelected-1zApJ_:hover .name-3_Dsmg:hover{
  color: var(--themeColor1) !important;
}

/* X */
.winButton-iRh8-Z:hover{background-color: rgba(195, 91, 91, 0.4)!important;}
/* Square + -*/
.winButtonMinMax-PBQ2gm:hover{background-color: rgba(156, 156, 156, 0.1)!important;}

/* Profile Roles Underline */
.bodyTitle-Y0qMQz::before{top: 14px; background-image: linear-gradient(to right, transparent, var(--themeColor1), var(--themeColor2), var(--themeColor1), transparent);
}

/* Various Text Overflows */
.name-uJV0GL {overflow: visible;}
.roleName-32vpEy{overflow:visible;
}
