@import url('https://xcruxiex.github.io/BBDThemes/Aesthetics/UserBackgrounds/Base.css');

/* Cruxie */
[user_by_bdfdb*="332394843743584256"],
[data-user-id*="332394843743584256"] {
	--user-background: url('https://i.imgur.com/CAsvn0q.gif');}

/* Leozard ★ */
[user_by_bdfdb*="240437190339854337"],
[data-user-id*="240437190339854337"] {
	--user-background: url('https://lolisafe.moe/HN2xoXeo.jpg');}

/* Daisy ★ */
[user_by_bdfdb*="449507987896139776"],
[data-user-id*="449507987896139776"] {
	--user-background: url('https://i.imgur.com/yAqUfq7.png');}
