/* Always Display Category Lines */
.name-IbjUBS:before {flex: 1 !important;}
.name-IbjUBS:after {flex: 1 !important;}
	
/* Email Blur */
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg:hover {
    filter: blur(0); }
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg {
    filter: blur(5px);
	transition: 250ms filter ease-in-out;
}
	 
/* Member List Category */
.membersGroup-v9BXpm:before,.membersGroup-v9BXpm:after{display: none;}
.members-1998pB .membersGroup-v9BXpm{text-align: left;justify-content: left;}

/* Settings */
.app-2rEoOp{background-color: rgba(0, 0, 0, 0.3);}

/* No more help icon */
.toolbar-1t6TWx .iconWrapper-2OrFZ1:last-child{display: block}

/*DARK MODE Colored wumpus images */
/* All-Online*/
.image-1GzsFd[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/All-Friends.svg') !important;
  background-size: cover;}
/* Pending */
.image-1GzsFd[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/pending.svg') !important;
  background-size: cover;}
/* Blocked */
.image-1GzsFd[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/Blocked.svg') !important;
  background-size: cover;}
/* LIBRARY TAB */
.theme-dark .emptyWumpus-12J3jI{
 background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
 background-size: cover;}
.theme-dark .emptyStateImage-2eMp68{
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
 background-size: cover;}
.platform-win .sidebar-2K8pFh {border-radius: 0px;}
