.nowPlayingColumn-2sl4cE {
    position: relative;
    left: 350px ;
    opacity: 1;
    margin-left: -350px;
    transition: .5s all ease-out;}
.nowPlayingColumn-2sl4cE:hover {
    left: 0 ;
    opacity: 1;
    margin-left: 0;
    transition: .5s all ease-out;}
    
   <3 Thx Leo
