/* Credits */
.info-1VyQPT:before{content: " All Pride!";}

/* Base */
.contents-2mQqc9 > img ~ .header-23xsNx > span.username-1A8OIy:after{
    border: 1px solid;
    border-radius: 6px;
    margin-left: 5px;
    font-size: 10.5px;}
/* sanana the skenana#0001 */
.contents-2mQqc9 > img[src*="326359466171826176"] ~ .header-23xsNx > span.username-1A8OIy:after{
    content: ' Rainbow Creator! ';}


@keyframes pride {100%,0%{
color: rgb(255,0,0);}8%{
color: rgb(255,127,0);}16%{
color: rgb(255,255,0);}25%{
color: rgb(127,255,0);}33%{
color: rgb(0,255,0);}41%{
color: rgb(0,255,127);}50%{
color: rgb(0,255,255);}58%{
color: rgb(0,127,255);}66%{
color: rgb(0,0,255);}75%{
color: rgb(127,0,255);}83%{
color: rgb(255,0,255);}91%{
color: rgb(255,0,127);}}

@keyframes bgpride {100%,0%{
background-color: rgb(255,0,0);}8%{
background-color: rgb(255,127,0);}16%{
background-color: rgb(255,255,0);}25%{
background-color: rgb(127,255,0);}33%{
background-color: rgb(0,255,0);}41%{
background-color: rgb(0,255,127);}50%{
background-color: rgb(0,255,255);}58%{
background-color: rgb(0,127,255);}66%{
background-color: rgb(0,0,255);}75%{
background-color: rgb(127,0,255);}83%{
background-color: rgb(255,0,255);}91%{
background-color: rgb(255,0,127);}}

/* Texts */
.button-14-BFJ{
  transition: 0.2s;}
.button-14-BFJ:hover,.header-2o-2hj:hover,.membersGroup-v9BXpm:hover,.markup-2BOw-j a:hover,.username-1A8OIy:hover,.info-1VyQPT:before,
.wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX,
.wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg{
  padding-bottom: 0px;
  transition: 0.2s;
  animation-name: pride;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* Backgrounds */
.unread-3zKkbm{
  padding-bottom: 0px;
  transition: 0.2s;
  animation-name: bgpride;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
