/* Fixes for Neutron - By cruxie */

/* Inline CodeBlock */
.after_inlineCode-1KfVgj, .before_inlineCode-1G9rTK, .inlineCode-2ngu6Y{background-color: rgba(0,0,0,.5);
}

/* Careful - you have unsaved changes! */
.noticeRegion-1YviSH{max-width: 100%;}
.theme-dark .elevationHigh-1PneE4{background-color: rgba(0,0,0,.5) !important;
}

/* Audit Log Filters */
.theme-dark .popoutList-T9CKZQ{background-color: var(--backgroundColor);}
.selectableItem-1MP3MQ.selected-31soGA{background-color: var(--themeColor2) !important;}
.theme-dark .selectableItem-1MP3MQ:hovers{background-color: rgba(0,0,0,.5);
}

/* View Reactions */
.theme-dark .sidebar-1-SQro, .theme-dark .reactors-Blmlhw{background-color: var(--backgroundColor);}
.theme-dark .reactionSelected-1pqISm{background-color: rgba(0,0,0,0.5);}
.theme-dark .reactionDefault-GBA58K:hover{background-color: rgba(0,0,0,0.8);
}

/* Color Picker */
.theme-dark .colorPickerCustom-2CWBn2{background-color: var(--backgroundColor);
  border-color: rgb(20, 20, 20);
  border-radius: 5px;
}

/* Follow this channel */
.wrapper-39oAo3{background-color: var(--backgroundColor);
}

/* Emoji Picker (March or April 2020)*/
.contentWrapper-2txmjs, .inspector-sdLnLS, .wrapper-2N7X54, .categoryWrapper-UZ5YNj {background-color: var(--backgroundColor);}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV, .categoryItemDefaultCategorySelected-_HCKoz, .navButtonActive-3RPAJy {background-color: var(--themeColor2);}
.guildIcon-3h-1IH{background-color: transparent;}
.diversitySelectorPopout-3FiGaM {background-color: var(--backgroundColor); border-color: var(--backgroundColor);}
.diversityEmojiItem-L6_IXw:hover, .guildIcon-3h-1IH:hover {background-color: var(--themeColor2);}
.theme-dark .sadImage-2ph8SI{display: none;
}

/* @Mentions and #Channels */
.wrapper-3WhCwL {
  background: var(--themeColor1)!important;
  color: var(--themeColor1);
  box-shadow: inset 0 0 0 1000000px rgba(0,0,0,0.5);
  padding: 0px 2px!important;
  border-radius: 5px!important;
}

/* In place when dragging Server or Folder */
.dragInner-_SHftW{background-color: var(--backgroundColor);
}

/* Account Credit */
.premiumSubscriptionAccountCredit-25i0tQ{background-color: var(--backgroundColor);
}

/* Emoji Picker Nitro will Expire soon */
.premiumRetentionNotice-1MsjHe{background-color: var(--backgroundColor);
}

/* NOBODY IS ACTIVE RIGHT NOW */ 
.emptyCard-1RJw8n {background-color: var(--backgroundColor); 
}  
