/* Fixes for Neutron - By cruxie */

/* Inline CodeBlock */
.after_inlineCode-1KfVgj, .before_inlineCode-1G9rTK, .inlineCode-2ngu6Y{background-color: rgba(0,0,0,.5);
}

/* Careful - you have unsaved changes! */
.noticeRegion-1YviSH{max-width: 100%;}
.theme-dark .elevationHigh-1PneE4{background-color: rgba(0,0,0,.5) !important;
}

/* Audit Log Filters */
.theme-dark .popoutList-T9CKZQ{background-color: var(--backgroundColor);}
.selectableItem-1MP3MQ.selected-31soGA{background-color: var(--themeColor2) !important;}
.theme-dark .selectableItem-1MP3MQ:hovers{background-color: rgba(0,0,0,.5);
}

/* View Reactions */
.theme-dark .sidebar-1-SQro, .theme-dark .reactors-Blmlhw{background-color: var(--backgroundColor);}
.theme-dark .reactionSelected-1pqISm{background-color: rgba(0,0,0,0.5);}
.theme-dark .reactionDefault-GBA58K:hover{background-color: rgba(0,0,0,0.8);
}

/* Color Picker */
.theme-dark .colorPickerCustom-2CWBn2{background-color: var(--backgroundColor);
  border-color: rgb(20, 20, 20);
  border-radius: 5px;
}

/* Follow this channel */
.wrapper-39oAo3{background-color: var(--backgroundColor);
}

/* Emoji Picker (March or April 2020)*/
.header-8ilj5e, .bodyWrapper-3G0FZZ, .contentWrapper-2txmjs, .inspector-sdLnLS, .wrapper-2N7X54, .categoryWrapper-UZ5YNj {background-color: var(--backgroundColor);}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV, .categoryItemDefaultCategorySelected-_HCKoz, .navButtonActive-3RPAJy {background-color: var(--themeColor2);}
.guildIcon-3h-1IH{background-color: transparent;}
.diversitySelectorPopout-3FiGaM {background-color: var(--backgroundColor); border-color: var(--backgroundColor);}
.diversityEmojiItem-L6_IXw:hover, .guildIcon-3h-1IH:hover {background-color: var(--themeColor2);}
.theme-dark .sadImage-2ph8SI{display: none;
}

/* @Mentions and #Channels */
.wrapper-3WhCwL {
  background: var(--themeColor1)!important;
  color: var(--themeColor2);
  box-shadow: none;
  padding: 0px 2px!important;
  border-radius: 5px!important;
}

/* In place when dragging Server or Folder */
.dragInner-_SHftW{background-color: var(--backgroundColor);
}

/* Account Credit */
.premiumSubscriptionAccountCredit-25i0tQ{background-color: var(--backgroundColor);
}

/* Emoji Picker Nitro will Expire soon */
.premiumRetentionNotice-1MsjHe{background-color: var(--backgroundColor);
}

/* NOBODY IS ACTIVE RIGHT NOW */ 
.emptyCard-1RJw8n {background-color: var(--backgroundColor); 
}  

/* New Context Server Dropdown */
.styleFixed-sX-yHV{background-color: var(--backgroundColor);}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O){background-color: var(--themeColor1);}

/* New Join Module */
.size16-1P40sf{font-size: 15px; font-weight: 200;}
.theme-light .input-UJ9Tr3, .theme-light .input-1mgnkM{color:#e3e5e8}

/* Invite to server Module */
.input-cIJ7To{background-color: transparent !important;}

/* New welcome to server */
.card-1yV8cG{background-color: var(--backgroundColor);}
.card-1yV8cG:hover{background-color: var(--themeColor1);}
.channelTextArea-2VhZ6z.highlighted-2eSV1B{box-shadow: 0 0 0 4px var(--themeColor1);}

/* Custom CSS Editor */
.ace-monokai {background-color: var(--backgroundColor)!important;}
.ace-monokai .ace_gutter {background-color: var(--backgroundColor)!important;}
.ace-monokai .ace_gutter-active-line{background-color: transparent;}
.ace-monokai .ace_marker-layer .ace_selection{background-color: rgba(0,0,0,0.6) !important;}
.ace-monokai .ace_gutter-active-line, .ace-monokai .ace_marker-layer .ace_active-line {background-color: rgba(0, 0, 0, 0.8)!important;}
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {background-color: var(--backgroundColor); box-shadow: none;}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {background: rgba(0, 0, 0, 0.3); border-color: rgba(0, 0, 0, 0.0) !important;}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {background-color: rgba(0, 0, 0, 0.8); border: 2px solid var(--themeColor1) !important;}
#bd-customcss-attach-controls .help-text .inline{background: var(--backgroundColor);}
.ace_scrollbar-h{background-color: rgba(0, 0, 0, 0.3); height: 14px !important;}
#bd-customcss-detach-container{background-color: transparent;}
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span{background-color: var(--themeColor1);border-color: var(--themeColor1);}
  
/* Role Permission Options */	
.theme-dark .item-3T2z1R{background-color: var(--backgroundColor); border-color: var(--backgroundColor);}
.theme-dark .denySelected-1mh2mZ{background-color: #f04747;}
.theme-dark .allowSelected-25S_i5{background-color: #43b581;}
.theme-dark .passthroughSelected-1Eq0Kl{background-color: var(--themeColor1);}

/* Unread Popout p.s. hecc u discord */
.tutorial-3w5I9h, .container-enaOkj, .messages-3G3erD, .channelHeader-3Gd2xq{background-color: var(--backgroundColor);}
.messages-3G3erD, .channelHeader-3Gd2xq{padding-right: 10px;padding-left: 20px;}
.collapseButton-2ZsEjz{padding-left: 10px;}
.messageContainer-1ei2zM:hover .jumpButton-3vBz5U{background-color: transparent;}
.icon-1Itzco{backgroundColor: var(--backgroundColor); color: #fff;}
.tertiary-aMXF0g{background-color: var(--themeColor1); color: white;}
.tertiary-aMXF0g:hover{background-color: var(--themeColor2); color: white;
}

/* I hate discord too man */
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{background-color: var(--backgroundColor);
}
