/* Fixes for Neutron - By cruxie */

/* Inline CodeBlock */
.after_inlineCode-1KfVgj, .before_inlineCode-1G9rTK, .inlineCode-2ngu6Y{background-color: rgba(0,0,0,.5);
}

/* Careful - you have unsaved changes! */
.theme-dark .elevationHigh-1PneE4{background-color: rgba(0,0,0,.5) !important;
}

/* Audit Log Filters */
.theme-dark .popoutList-T9CKZQ{background-color: var(--backgroundColor);}
.selectableItem-1MP3MQ.selected-31soGA{background-color: var(--themeColor2) !important;}
.theme-dark .selectableItem-1MP3MQ:hovers{background-color: rgba(0,0,0,.5);
}

/* View Reactions */
.theme-dark .sidebar-1-SQro, .theme-dark .reactors-Blmlhw{background-color: var(--backgroundColor);}
.theme-dark .reactionSelected-1pqISm{background-color: rgba(0,0,0,0.5);}
.theme-dark .reactionDefault-GBA58K:hover{background-color: rgba(0,0,0,0.8);
}

/* Color Picker */
.theme-dark .colorPickerCustom-2CWBn2{background-color: var(--backgroundColor);
  border-color: rgb(20, 20, 20);
  border-radius: 5px;
}

/* Follow this channel */
.wrapper-39oAo3{background-color: var(--backgroundColor);
}
